In [1]:
import pandas as pd
import os
from pandas import DataFrame

In [2]:
def normalized_values(y,dfmax, dfmin):
    a = (y- dfmin) / (dfmax - dfmin)
    return(a)

def apply_norm(normdf, unnormdf, col, dfmax, dfmin, dfmean, dfstd, norm_type):
    normdf[col] = unnormdf.apply(lambda x: normalized_values(x[col], dfmax, dfmin, dfmean, dfstd, norm_type), axis=1)

def dataset_sanity_check(df):
    for c in [cl for cl in df.columns if 'bin' not in cl]:
        print('column %s - max: %s, min : %s, mean: %s, std: %s'%(c, df[c].max(), df[c].min(), df[c].mean(), df[c].std()))

def normalize_dataset(df, d):
    X = DataFrame()
#    if aggrfile and os.path.exists(aggrfile):
#        with open(aggrfile) as aggrf:
#            aggrs = json.loads(aggrf.read())
    for c in df.columns:
        if c in d.keys():
            print(c)
            dfcfloat = df[c].astype('float64')
            #print("Normalize column:%s" % c)
            dfmax = d[c]['max'] if 'max' in d[c] else None
            dfmin = d[c]['min'] if 'min' in d[c] else None
            #print(d[c]['min'],'-',d[c]['max'])
            #dfmean = d[c]['mean'] if 'mean' in aggrs[c] else None
            #dfstd = d[c]['std'] if 'std' in aggrs[c] else None
            X[c] = dfcfloat.apply(lambda x: normalized_values(x, dfmax, dfmin))#, axis=1)
            #dataset_sanity_check(X[[c]])
        else:
            X[c] = df[c]
    return(X)

In [3]:
d = {'aspect': {'max': 359.99800000000016, 'min': -1.0},
 'curvature': {'max': 0.73661599999999994, 'min': -0.76867799999999997},
 'dem': {'max': 2806.1399999999999, 'min': -6.04},
 'dom_vel': {'max': 19.337629295696285, 'min': 0.49528943306704032},
 'evi': {'max': 0.99250000000000005, 'min': -0.19869999999999999},
 'lst_day': {'max': 342.77999999999997, 'min': 251.78},
 'lst_night': {'max': 322.45999999999998, 'min': 254.47999572753903},
 'max_dew_temp': {'max': 300.5537109375, 'min': 266.383056640625},
 'max_temp': {'max': 317.44775390625, 'min': 273.447509765625},
 'mean_dew_temp': {'max': 298.55347696940106, 'min': 263.98918660481769},
 'mean_temp': {'max': 309.74698893229169, 'min': 270.31141153971362},
 'min_dew_temp': {'max': 297.611083984375, 'min': 258.5595703125},
 'min_temp': {'max': 303.00634765625, 'min': 262.879150390625},
 'ndvi_new': {'max': 0.99939999999999996, 'min': -0.20000000000000001},
 'rain_7days': {'max': 3.5451469016037436, 'min': 6.8902961061212417e-06},
 'res_max': {'max': 19.337629295696285, 'min': 2.7861490154313331},
 'slope': {'max': 45.0045, 'min': 0.0},
    'x':{'max':28.04987944036008,'min':19.375364776587237},
    'y':{'max':41.74353364305825,'min':34.80164167588476},
    'frequency':{'max':3,'min':0},
    'f81':{'max':0.32845602804450552,'min':0}}

In [6]:
dict = {}
for folder, subfolders, files in os.walk('/users/pa21/sgirtsou/production', topdown=True):
    for file in files:
        if file.endswith('dummies.csv') and 'balanced' not in file:
            if file.split('_')[1] in dict:
                dict[file.split('_')[1]].append(os.path.join(os.path.abspath(folder), file))
            else:
                dict[file.split('_')[1]]=[]
                dict[file.split('_')[1]].append(os.path.join(os.path.abspath(folder), file))

In [7]:
dict

{'2020': ['/users/pa21/sgirtsou/production/2020/05/may_2020_dummies.csv',
  '/users/pa21/sgirtsou/production/2020/08/august_2020_dummies.csv',
  '/users/pa21/sgirtsou/production/2020/09/september_2020_dummies.csv',
  '/users/pa21/sgirtsou/production/2020/07/july_2020_dummies.csv',
  '/users/pa21/sgirtsou/production/2020/06/june_2020_dummies.csv']}

In [6]:
dict = {'2019': ['/work2/pa21/sgirtsou/production/2019/05/may_2019_dummies.csv',
  '/work2/pa21/sgirtsou/production/2019/08/august_2019_dummies.csv',
  '/work2/pa21/sgirtsou/production/2019/09/september_2019_dummies.csv',
  '/work2/pa21/sgirtsou/production/2019/04/april_2019_dummies.csv',
  '/work2/pa21/sgirtsou/production/2019/07/july_2019_dummies.csv',
  '/work2/pa21/sgirtsou/production/2019/06/june_2019_dummies.csv']}

In [8]:
xy = pd.read_csv('/users/pa21/sgirtsou/transfered_files/data/centroids_id_x_y.csv')
freq = pd.read_csv('/users/pa21/sgirtsou/ffp/code/ml-fires-1/ML_fires_al/stats/frequencyfeature_density_40km_1970_2009.csv')

In [9]:
for key in sorted(dict.keys()):
    print('Year:'+key)
    for i, filename in enumerate(dict[key]):
        print('Reading ', filename)
        df = pd.read_csv(filename)
        df['wkd'] = pd.to_datetime(df['firedate'],format='%Y%m%d').dt.dayofweek
        df['month'] = pd.to_datetime(df['firedate'],format='%Y%m%d').dt.month
        print('Getting the dummies ......')
        df1 = df
        df1 = pd.get_dummies(df, columns=['wkd', 'month'])
        del df
        months = ['month_4','month_5','month_6','month_7','month_8','month_9']
        for m in months:
            if m not in df1.columns:
                print(m+ 'was not in columns of' + filename)
                df1[m] = 0
        df1 = df1.merge(freq,left_on='id',right_on='id')
        df1 = df1.rename(columns={'81':'f81'})
        df1 = df1.merge(xy,left_on='id',right_on='id')
        print('Starting normalization....')
        df1 = normalize_dataset(df1,d)
        print('Saving normalized dataset....')
        df1.to_csv(filename[:-12]+'_norm.csv')

Year:2020
Reading  /users/pa21/sgirtsou/production/2020/05/may_2020_dummies.csv
Getting the dummies ......
month_4was not in columns of/users/pa21/sgirtsou/production/2020/05/may_2020_dummies.csv
month_6was not in columns of/users/pa21/sgirtsou/production/2020/05/may_2020_dummies.csv
month_7was not in columns of/users/pa21/sgirtsou/production/2020/05/may_2020_dummies.csv
month_8was not in columns of/users/pa21/sgirtsou/production/2020/05/may_2020_dummies.csv
month_9was not in columns of/users/pa21/sgirtsou/production/2020/05/may_2020_dummies.csv
Starting normalization....
max_temp
min_temp
mean_temp
res_max
dom_vel
rain_7days
dem
slope
curvature
aspect
ndvi_new
evi
lst_day
lst_night
max_dew_temp
mean_dew_temp
min_dew_temp
frequency
f81
x
y
Saving normalized dataset....
Reading  /users/pa21/sgirtsou/production/2020/08/august_2020_dummies.csv
Getting the dummies ......
month_4was not in columns of/users/pa21/sgirtsou/production/2020/08/august_2020_dummies.csv
month_5was not in columns of/users/pa21/sgirtsou/production/2020/08/august_2020_dummies.csv
month_6was not in columns of/users/pa21/sgirtsou/production/2020/08/august_2020_dummies.csv
month_7was not in columns of/users/pa21/sgirtsou/production/2020/08/august_2020_dummies.csv
month_9was not in columns of/users/pa21/sgirtsou/production/2020/08/august_2020_dummies.csv
Starting normalization....
max_temp
min_temp
mean_temp
res_max
dom_vel
rain_7days
dem
slope
curvature
aspect
ndvi_new
evi
lst_day
lst_night
max_dew_temp
mean_dew_temp
min_dew_temp
frequency
f81
x
y
Saving normalized dataset....
Reading  /users/pa21/sgirtsou/production/2020/09/september_2020_dummies.csv
Getting the dummies ......
month_4was not in columns of/users/pa21/sgirtsou/production/2020/09/september_2020_dummies.csv
month_5was not in columns of/users/pa21/sgirtsou/production/2020/09/september_2020_dummies.csv
month_6was not in columns of/users/pa21/sgirtsou/production/2020/09/september_2020_dummies.csv
month_7was not in columns of/users/pa21/sgirtsou/production/2020/09/september_2020_dummies.csv
month_8was not in columns of/users/pa21/sgirtsou/production/2020/09/september_2020_dummies.csv
Starting normalization....
max_temp
min_temp
mean_temp
res_max
dom_vel
rain_7days
dem
slope
curvature
aspect
ndvi_new
evi
lst_day
lst_night
max_dew_temp
mean_dew_temp
min_dew_temp
frequency
f81
x
y
Saving normalized dataset....
Reading  /users/pa21/sgirtsou/production/2020/07/july_2020_dummies.csv
Getting the dummies ......
month_4was not in columns of/users/pa21/sgirtsou/production/2020/07/july_2020_dummies.csv
month_5was not in columns of/users/pa21/sgirtsou/production/2020/07/july_2020_dummies.csv
month_6was not in columns of/users/pa21/sgirtsou/production/2020/07/july_2020_dummies.csv
month_8was not in columns of/users/pa21/sgirtsou/production/2020/07/july_2020_dummies.csv
month_9was not in columns of/users/pa21/sgirtsou/production/2020/07/july_2020_dummies.csv
Starting normalization....
max_temp
min_temp
mean_temp
res_max
dom_vel
rain_7days
dem
slope
curvature
aspect
ndvi_new
evi
lst_day
lst_night
max_dew_temp
mean_dew_temp
min_dew_temp
frequency
f81
x
y
Saving normalized dataset....
Reading  /users/pa21/sgirtsou/production/2020/06/june_2020_dummies.csv
Getting the dummies ......
month_4was not in columns of/users/pa21/sgirtsou/production/2020/06/june_2020_dummies.csv
month_5was not in columns of/users/pa21/sgirtsou/production/2020/06/june_2020_dummies.csv
month_7was not in columns of/users/pa21/sgirtsou/production/2020/06/june_2020_dummies.csv
month_8was not in columns of/users/pa21/sgirtsou/production/2020/06/june_2020_dummies.csv
month_9was not in columns of/users/pa21/sgirtsou/production/2020/06/june_2020_dummies.csv
Starting normalization....
max_temp
min_temp
mean_temp
res_max
dom_vel
rain_7days
dem
slope
curvature
aspect
ndvi_new
evi
lst_day
lst_night
max_dew_temp
mean_dew_temp
min_dew_temp
frequency
f81
x
y
Saving normalized dataset....

In [11]:
df1.columns

Index(['id', 'firedate', 'max_temp', 'min_temp', 'mean_temp', 'res_max',
       'dom_vel', 'rain_7days', 'dem', 'slope', 'curvature', 'aspect',
       'ndvi_new', 'evi', 'lst_day', 'lst_night', 'max_dew_temp',
       'mean_dew_temp', 'min_dew_temp', 'fire', 'dir_max_1', 'dir_max_2',
       'dir_max_3', 'dir_max_4', 'dir_max_5', 'dir_max_6', 'dir_max_7',
       'dir_max_8', 'dom_dir_1', 'dom_dir_2', 'dom_dir_3', 'dom_dir_4',
       'dom_dir_5', 'dom_dir_6', 'dom_dir_7', 'dom_dir_8', 'corine_111',
       'corine_112', 'corine_121', 'corine_122', 'corine_123', 'corine_124',
       'corine_131', 'corine_132', 'corine_133', 'corine_141', 'corine_142',
       'corine_211', 'corine_212', 'corine_213', 'corine_221', 'corine_222',
       'corine_223', 'corine_231', 'corine_241', 'corine_242', 'corine_243',
       'corine_244', 'corine_311', 'corine_312', 'corine_313', 'corine_321',
       'corine_322', 'corine_323', 'corine_324', 'corine_331', 'corine_332',
       'corine_333', 'corine_334', 'corine_411', 'corine_412', 'corine_421',
       'corine_422', 'corine_511', 'corine_512', 'corine_521', 'wkd_0',
       'wkd_1', 'wkd_2', 'wkd_3', 'wkd_4', 'wkd_5', 'wkd_6', 'month_6',
       'month_4', 'month_5', 'month_7', 'month_8', 'month_9', 'frequency',
       'f81', 'x', 'y'],
      dtype='object')

In [12]:
df1[['firedate','wkd_0','wkd_1', 'wkd_2', 'wkd_3', 'wkd_4', 'wkd_5', 'wkd_6']]

          firedate  wkd_0  wkd_1  wkd_2  wkd_3  wkd_4  wkd_5  wkd_6
0         20200622      1      0      0      0      0      0      0
1         20200612      0      0      0      0      1      0      0
2         20200624      0      0      1      0      0      0      0
3         20200605      0      0      0      0      1      0      0
4         20200613      0      0      0      0      0      1      0
5         20200630      0      1      0      0      0      0      0
6         20200604      0      0      0      1      0      0      0
7         20200628      0      0      0      0      0      0      1
8         20200626      0      0      0      0      1      0      0
9         20200627      0      0      0      0      0      1      0
10        20200607      0      0      0      0      0      0      1
11        20200623      0      1      0      0      0      0      0
12        20200615      1      0      0      0      0      0      0
13        20200618      0      0      0      1      0      0      0
14        20200621      0      0      0      0      0      0      1
15        20200614      0      0      0      0      0      0      1
16        20200603      0      0      1      0      0      0      0
17        20200611      0      0      0      1      0      0      0
18        20200601      1      0      0      0      0      0      0
19        20200608      1      0      0      0      0      0      0
20        20200629      1      0      0      0      0      0      0
21        20200609      0      1      0      0      0      0      0
22        20200625      0      0      0      1      0      0      0
23        20200616      0      1      0      0      0      0      0
24        20200619      0      0      0      0      1      0      0
25        20200617      0      0      1      0      0      0      0
26        20200606      0      0      0      0      0      1      0
27        20200610      0      0      1      0      0      0      0
28        20200620      0      0      0      0      0      1      0
29        20200602      0      1      0      0      0      0      0
...            ...    ...    ...    ...    ...    ...    ...    ...
11185261  20200629      1      0      0      0      0      0      0
11185262  20200609      0      1      0      0      0      0      0
11185263  20200616      0      1      0      0      0      0      0
11185264  20200619      0      0      0      0      1      0      0
11185265  20200617      0      0      1      0      0      0      0
11185266  20200620      0      0      0      0      0      1      0
11185267  20200628      0      0      0      0      0      0      1
11185268  20200627      0      0      0      0      0      1      0
11185269  20200615      1      0      0      0      0      0      0
11185270  20200601      1      0      0      0      0      0      0
11185271  20200629      1      0      0      0      0      0      0
11185272  20200609      0      1      0      0      0      0      0
11185273  20200616      0      1      0      0      0      0      0
11185274  20200619      0      0      0      0      1      0      0
11185275  20200617      0      0      1      0      0      0      0
11185276  20200620      0      0      0      0      0      1      0
11185277  20200627      0      0      0      0      0      1      0
11185278  20200615      1      0      0      0      0      0      0
11185279  20200629      1      0      0      0      0      0      0
11185280  20200609      0      1      0      0      0      0      0
11185281  20200619      0      0      0      0      1      0      0
11185282  20200617      0      0      1      0      0      0      0
11185283  20200620      0      0      0      0      0      1      0
11185284  20200627      0      0      0      0      0      1      0
11185285  20200615      1      0      0      0      0      0      0
11185286  20200629      1      0      0      0      0      0      0
11185287  20200609      0      1      0      0      0      0      0
11185288  20200619      0      0      0      0      1      0      0
11185289  20200617      0      0      1      0      0      0      0
11185290  20200620      0      0      0      0      0      1      0

[11185291 rows x 8 columns]

In [10]:
(filename[:-12]+'_norm.csv')

'/work2/pa21/sgirtsou/production/2018/09/september_2018_norm.csv'

In [23]:
df1.to_csv('/users/pa21/sgirtsou/july_2018_norm.csv')

In [ ]:
df = df.merge(freq,left_on='id',right_on='id')

In [ ]:
xy.y.max()

In [44]:
df.rename(columns={'81':'f81'})

,Unnamed: 0,id,firedate,max_temp,min_temp,mean_temp,res_max,dom_vel,rain_7days,dem,...,corine_334,corine_411,corine_412,corine_421,corine_422,corine_511,corine_512,corine_521,frequency,f81
0,0,333237,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,84.3599,...,0,0,0,0,0,0,0,0.0,0,0.000457
1,1,335462,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,77.4268,...,0,0,0,0,0,0,0,0.0,0,0.000457
2,2,335463,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,90.7271,...,0,0,0,0,0,0,0,0.0,0,0.000457
3,3,335464,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,84.3599,...,0,0,0,0,0,0,0,0.0,0,0.000457
4,4,337688,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,100.3930,...,0,0,0,0,0,0,0,0.0,0,0.000457
5,5,337689,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,92.0619,...,0,0,0,0,0,0,0,0.0,0,0.000457
6,6,335474,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,50.9403,...,0,0,0,0,0,0,0,0.0,0,0.000457
7,7,335475,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,46.1096,...,0,0,0,0,0,0,0,0.0,0,0.000457
8,8,337702,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,46.9248,...,0,0,0,0,0,0,0,0.0,0,0.000457
9,9,337703,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,45.0867,...,0,0,0,0,0,0,0,0.0,0,0.000457
10,10,339930,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,46.2845,...,0,0,0,0,0,0,0,0.0,0,0.000457
11,11,342158,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,49.4861,...,0,0,0,0,0,0,0,0.0,0,0.000457
12,12,337686,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,99.4129,...,0,0,0,0,0,0,0,0.0,0,0.000457
13,13,337687,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,118.6980,...,0,0,0,0,0,0,0,0.0,0,0.000457
14,14,339912,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,124.7640,...,0,0,0,0,0,0,0,0.0,0,0.000457
15,15,339913,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,109.4560,...,0,0,0,0,0,0,0,0.0,0,0.000457
16,16,339914,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,99.4129,...,0,0,0,0,0,0,0,0.0,0,0.000457
17,17,337690,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,92.0619,...,0,0,0,0,0,0,0,0.0,0,0.000457
18,18,339915,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,122.0650,...,0,0,0,0,0,0,0,0.0,0,0.000457
19,19,339916,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,121.8530,...,0,0,0,0,0,0,0,0.0,0,0.000457
20,20,342139,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,124.7640,...,0,0,0,0,0,0,0,0.0,0,0.000457
21,21,342140,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,124.7640,...,0,0,0,0,0,0,0,0.0,0,0.000457
22,22,342147,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,90.0326,...,0,0,0,0,0,0,0,0.0,0,0.000457
23,23,344366,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,138.4950,...,0,0,0,0,0,0,0,0.0,0,0.000457
24,24,346601,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,114.4730,...,0,0,0,0,0,0,0,0.0,0,0.000457
25,25,348820,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,195.4780,...,0,0,0,0,0,0,0,0.0,0,0.000457
26,26,348822,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,135.4480,...,0,0,0,0,0,0,0,0.0,0,0.000457
27,27,348823,20100412,286.617432,277.641846,282.461721,5.193217,2.220158,0.091805,135.4480,...,0,0,0,0,0,0,0,0.0,0,0.000457
28,28,348827,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,110.4990,...,0,0,0,0,0,0,0,0.0,0,0.000457
29,29,348828,20100412,287.027588,277.887939,282.941050,5.193217,2.189361,0.079943,110.4990,...,0,0,0,0,0,0,0,0.0,0,0.000457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9969,9969,510975,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,265.1710,...,0,0,0,0,0,0,0,0.0,0,0.010059
9970,9970,510976,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,259.2460,...,0,0,0,0,0,0,0,0.0,0,0.010364
9971,9971,510977,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,245.6660,...,0,0,0,0,0,0,0,0.0,0,0.010364
9972,9972,510978,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,252.5460,...,0,0,0,0,0,0,0,0.0,0,0.010364
9973,9973,510979,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,270.4140,...,0,0,0,0,0,0,0,0.0,0,0.010364
9974,9974,513199,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,266.9930,...,0,0,0,0,0,0,0,0.0,0,0.008688
9975,9975,513201,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,280.8030,...,0,0,0,0,0,0,0,0.0,0,0.009755
9976,9976,513202,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,285.0150,...,0,0,0,0,0,0,0,0.0,0,0.010059
9977,9977,513203,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,308.8400,...,0,0,0,0,0,0,0,0.0,0,0.010364
9978,9978,513204,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,314.5010,...,0,0,0,0,0,0,0,0.0,0,0.010364
9979,9979,513205,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,276.0610,...,0,0,0,0,0,0,0,0.0,0,0.010364
9980,9980,513206,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,315.7090,...,0,0,0,0,0,0,0,0.0,0,0.010364
9981,9981,515427,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,305.5330,...,0,0,0,0,0,0,0,0.0,0,0.009297
9982,9982,515428,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,317.6510,...,0,0,0,0,0,0,0,0.0,0,0.009755
9983,9983,515429,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,348.3080,...,0,0,0,0,0,0,0,0.0,0,0.010059
9984,9984,515430,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,388.3540,...,0,0,0,0,0,0,0,0.0,0,0.010364
9985,9985,517656,20100412,286.573486,281.947510,283.712046,5.565039,1.286029,0.157310,386.2260,...,0,0,0,0,0,0,0,0.0,0,0.010059
9986,9986,499860,20100412,284.255127,279.385010,281.337209,5.565039,1.242173,0.151196,1276.8500,...,0,0,0,0,0,0,0,0.0,0,0.010974
9987,9987,499877,20100412,282.012939,276.413574,279.043915,5.565039,1.318936,0.122779,1695.3200,...,0,0,0,0,0,0,0,0.0,0,0.011279
9988,9988,499878,20100412,282.012939,276.413574,279.043915,5.565039,1.318936,0.122779,1695.3200,...,0,0,0,0,0,0,0,0.0,0,0.011279
9989,9989,499879,20100412,282.012939,276.413574,279.043915,5.565039,1.318936,0.122779,1668.0800,...,0,0,0,0,0,0,0,0.0,0,0.011279
9990,9990,502104,20100412,282.266846,277.075684,279.286835,5.565039,1.231210,0.136976,1982.4000,...,0,0,0,0,0,0,0,0.0,0,0.011279
9991,9991,504316,20100412,284.255127,279.385010,281.337209,5.565039,1.242173,0.151196,1375.9300,...,0,0,0,0,0,0,0,0.0,0,0.011279
9992,9992,504331,20100412,282.266846,277.075684,279.286835,5.565039,1.231210,0.136976,1983.2200,...,0,0,0,0,0,0,0,0.0,0,0.011279
9993,9993,504332,20100412,282.012939,276.413574,279.043915,5.565039,1.318936,0.122779,1876.7500,...,0,0,0,0,0,0,0,0.0,0,0.011279
9994,9994,506558,20100412,282.266846,277.075684,279.286835,5.565039,1.231210,0.136976,1929.4700,...,0,0,0,0,0,0,0,0.0,0,0.011279
9995,9995,506559,20100412,282.012939,276.413574,279.043915,5.565039,1.318936,0.122779,1722.2700,...,0,0,0,0,0,0,0,0.0,0,0.011279
9996,9996,506560,20100412,282.012939,276.413574,279.043915,5.565039,1.318936,0.122779,1539.5400,...,0,0,0,0,0,0,0,0.0,0,0.011279
9997,9997,508769,20100412,284.255127,279.385010,281.337209,5.565039,1.242173,0.151196,992.0520,...,0,0,0,0,0,0,0,0.0,0,0.011279
9998,9998,508770,20100412,282.266846,277.075684,279.286835,5.565039,1.231210,0.136976,1092.0200,...,0,0,0,0,0,0,0,0.0,0,0.011279

# DATASETS 15

In [6]:
d = {'x':{'max':28.04987944036008,'min':19.375364776587237},
    'y':{'max':41.74353364305825,'min':34.80164167588476},
    'frequency':{'max':3,'min':0},
    'f81':{'max':0.32845602804450552,'min':0}}

In [7]:
freq = pd.read_csv('/users/pa21/sgirtsou/ffp/code/ml-fires-1/ML_fires_al/stats/frequencyfeature_density_40km_1970_2009.csv')
xy = pd.read_csv('/users/pa21/sgirtsou/transfered_files/data/centroids_id_x_y.csv')

In [8]:
df = pd.read_csv('/work2/pa21/sgirtsou/production/datasets/hard_cosine_similarity/balanced_2013_new.csv')

In [9]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'id', 'firedate',
       'max_temp', 'min_temp', 'mean_temp', 'res_max', 'dom_vel', 'rain_7days',
       'dem', 'slope', 'curvature', 'aspect', 'ndvi_new', 'evi', 'lst_day',
       'lst_night', 'max_dew_temp', 'mean_dew_temp', 'min_dew_temp', 'fire',
       'dir_max_1', 'dir_max_2', 'dir_max_3', 'dir_max_4', 'dir_max_5',
       'dir_max_6', 'dir_max_7', 'dir_max_8', 'dom_dir_1', 'dom_dir_2',
       'dom_dir_3', 'dom_dir_4', 'dom_dir_5', 'dom_dir_6', 'dom_dir_7',
       'dom_dir_8', 'corine_111', 'corine_112', 'corine_121', 'corine_122',
       'corine_123', 'corine_124', 'corine_131', 'corine_132', 'corine_133',
       'corine_141', 'corine_142', 'corine_211', 'corine_212', 'corine_213',
       'corine_221', 'corine_222', 'corine_223', 'corine_231', 'corine_241',
       'corine_242', 'corine_243', 'corine_244', 'corine_311', 'corine_312',
       'corine_313', 'corine_321', 'corine_322', 'corine_323', 'corine_324',
       'corine_331', 'corine_332', 'corine_333', 'corine_334', 'corine_411',
       'corine_412', 'corine_421', 'corine_422', 'corine_511', 'corine_512',
       'corine_521', 'wkd_0', 'wkd_1', 'wkd_2', 'wkd_3', 'wkd_4', 'wkd_5',
       'wkd_6', 'month_5', 'month_4', 'month_6', 'month_7', 'month_8',
       'month_9'],
      dtype='object')

In [10]:
df = df.drop(['Unnamed: 0','wkd_0', 'wkd_1', 'wkd_2', 'wkd_3', 'wkd_4', 'wkd_5', 'wkd_6',
       'month_5', 'month_4', 'month_6', 'month_7', 'month_8', 'month_9'],axis=1)

In [11]:
df['firedate'] = df['firedate'].astype('int64')

In [12]:
df['wkd'] = pd.to_datetime(df['firedate'],format='%Y%m%d').dt.dayofweek
df['month'] = pd.to_datetime(df['firedate'],format='%Y%m%d').dt.month
df = pd.get_dummies(df, columns=['wkd', 'month'])
months = ['month_4','month_5','month_6','month_7','month_8','month_9']
for m in months:
    if m not in df.columns:
        print(m+ 'was not in columns')
        df[m] = 0
df = df.merge(freq,left_on='id',right_on='id')
df = df.rename(columns={'81':'f81'})
df = df.merge(xy,left_on='id',right_on='id')
print('Starting normalization....')
df = normalize_dataset(df,d)
print('Saving normalized dataset....')
#df.to_csv(filename[:-12]+'_norm.csv')

Starting normalization....
frequency
f81
x
y
Saving normalized dataset....

In [14]:
df.to_csv('/work2/pa21/sgirtsou/production/datasets/hard_cosine_similarity/balanced_2013_dummies.csv')

checks on datasets

In [ ]:
df = pd.read_csv('/work2/pa21/sgirtsou/production/2013/06/june_2013_dummies.csv',nrows=1)

In [ ]:
df.columns